# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
src/PostgreSQL_CSI/PostgreSQL_CSI/main.c
src/PostgreSQL_CSI/PostgreSQL_CSI/PostgreSQL_CSI.1
src/PostgreSQL_CSI/PostgreSQL_CSI.xcodeproj/project.pbxproj
src/PostgreSQL_CSI/PostgreSQL_CSI.xcodeproj/project.xcworkspace/contents.xcworkspacedata
src/PostgreSQL_CSI/PostgreSQL_CSI.xcodeproj/project.xcworkspace/xcshareddata/PostgreSQL_CSI.xccheckout
src/PostgreSQL_CSI/PostgreSQL_CSI.xcodeproj/project.xcworkspace/xcuserdata/Emi.xcuserdatad/UserInterfaceState.xcuserstate
src/PostgreSQL_CSI/PostgreSQL_CSI.xcodeproj/xcuserdata/Emi.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
src/PostgreSQL_CSI/PostgreSQL_CSI.xcodeproj/xcuserdata/Emi.xcuserdatad/xcschemes/PostgreSQL_CSI.xcscheme
src/PostgreSQL_CSI/PostgreSQL_CSI.xcodeproj/xcuserdata/Emi.xcuserdatad/xcschemes/xcschememanagement.plist
aclocal.m4
config.log
config.status
configure
configure.in
COPYRIGHT
GNUmakefile
GNUmakefile.in
HISTORY
INSTALL
Makefile
README
a.out.dSYM/Contents/Info.plist
config/ac_func_accept_argtypes.m4
config/acx_pthread.m4
config/c-compiler.m4
config/c-library.m4
config/config.guess
config/config.sub
config/docbook.m4
config/general.m4
config/install-sh
config/libtool.m4
config/Makefile
config/missing
config/mkinstalldirs
config/perl.m4
config/prep_buildtree
config/programs.m4
config/python.m4
config/tcl.m4
doc/bug.template
doc/FAQ
doc/FAQ_AIX
doc/FAQ_brazilian
doc/FAQ_chinese
doc/FAQ_CYGWIN
doc/FAQ_czech
doc/FAQ_DEV
doc/FAQ_farsi
doc/FAQ_french
doc/FAQ_german
doc/FAQ_HPUX
doc/FAQ_hungarian
doc/FAQ_IRIX
doc/FAQ_japanese
doc/FAQ_MINGW
doc/FAQ_polish
doc/FAQ_QNX4
doc/FAQ_russian
doc/FAQ_SCO
doc/FAQ_Solaris
doc/FAQ_turkish
doc/KNOWN_BUGS
doc/Makefile
doc/man.tar.gz
doc/MISSING_FEATURES
doc/postgres.tar.gz
doc/README.mb.big5
doc/README.mb.jp
doc/TODO
doc/man1/.timestamp
doc/man1/clusterdb.1
doc/man1/createdb.1
doc/man1/createlang.1
doc/man1/createuser.1
doc/man1/dropdb.1
doc/man1/droplang.1
doc/man1/dropuser.1
doc/man1/ecpg.1
doc/man1/initdb.1
doc/man1/ipcclean.1
doc/man1/pg_config.1
doc/man1/pg_controldata.1
doc/man1/pg_ctl.1
doc/man1/pg_dump.1
doc/man1/pg_dumpall.1
doc/man1/pg_resetxlog.1
doc/man1/pg_restore.1
doc/man1/postgres.1
doc/man1/postmaster.1
doc/man1/psql.1
doc/man1/reindexdb.1
doc/man1/vacuumdb.1
doc/man7/.timestamp
doc/man7/abort.7
doc/man7/alter_aggregate.7
doc/man7/alter_conversion.7
doc/man7/alter_database.7
doc/man7/alter_domain.7
doc/man7/alter_function.7
doc/man7/alter_group.7
doc/man7/alter_index.7
doc/man7/alter_language.7
doc/man7/alter_operator.7
doc/man7/alter_operator_class.7
doc/man7/alter_role.7
doc/man7/alter_schema.7
doc/man7/alter_sequence.7
doc/man7/alter_table.7
doc/man7/alter_tablespace.7
doc/man7/alter_trigger.7
doc/man7/alter_type.7
doc/man7/alter_user.7
doc/man7/analyze.7
doc/man7/begin.7
doc/man7/checkpoint.7
doc/man7/close.7
doc/man7/cluster.7
doc/man7/comment.7
doc/man7/commit.7
doc/man7/commit_prepared.7
doc/man7/copy.7
doc/man7/create_aggregate.7
doc/man7/create_cast.7
doc/man7/create_constraint_trigger.7
doc/man7/create_conversion.7
doc/man7/create_database.7
doc/man7/create_domain.7
doc/man7/create_function.7
doc/man7/create_group.7
doc/man7/create_index.7
doc/man7/create_language.7
doc/man7/create_operator.7
doc/man7/create_operator_class.7
doc/man7/create_role.7
doc/man7/create_rule.7
doc/man7/create_schema.7
doc/man7/create_sequence.7
doc/man7/create_table.7
doc/man7/create_table_as.7
doc/man7/create_tablespace.7
doc/man7/create_trigger.7
doc/man7/create_type.7
doc/man7/create_user.7
doc/man7/create_view.7
doc/man7/deallocate.7
doc/man7/declare.7
doc/man7/delete.7
doc/man7/drop_aggregate.7
doc/man7/drop_cast.7
doc/man7/drop_conversion.7
doc/man7/drop_database.7
doc/man7/drop_domain.7
doc/man7/drop_function.7
doc/man7/drop_group.7
doc/man7/drop_index.7
doc/man7/drop_language.7
doc/man7/drop_operator.7
doc/man7/drop_operator_class.7
doc/man7/drop_role.7
doc/man7/drop_rule.7
doc/man7/drop_schema.7
doc/man7/drop_sequence.7
doc/man7/drop_table.7
doc/man7/drop_tablespace.7
doc/man7/drop_trigger.7
doc/man7/drop_type.7
doc/man7/drop_user.7
doc/man7/drop_view.7
doc/man7/end.7
doc/man7/execute.7
doc/man7/explain.7
doc/man7/fetch.7
doc/man7/grant.7
doc/man7/insert.7
doc/man7/listen.7
doc/man7/load.7
doc/man7/lock.7
doc/man7/move.7
doc/man7/notify.7
doc/man7/prepare.7
doc/man7/prepare_transaction.7
doc/man7/reindex.7
doc/man7/release_savepoint.7
doc/man7/reset.7
doc/man7/revoke.7
doc/man7/rollback.7
doc/man7/rollback_prepared.7
doc/man7/rollback_to_savepoint.7
doc/man7/savepoint.7
doc/man7/select.7
doc/man7/select_into.7
doc/man7/set.7
doc/man7/set_constraints.7
doc/man7/set_role.7
doc/man7/set_session_authorization.7
doc/man7/set_transaction.7
doc/man7/show.7
doc/man7/start_transaction.7
doc/man7/truncate.7
doc/man7/unlisten.7
doc/man7/update.7
doc/man7/vacuum.7
doc/manl/.timestamp
doc/manl/abort.l
doc/manl/alter_aggregate.l
doc/manl/alter_conversion.l
doc/manl/alter_database.l
doc/manl/alter_domain.l
doc/manl/alter_function.l
doc/manl/alter_group.l
doc/manl/alter_index.l
doc/manl/alter_language.l
doc/manl/alter_operator.l
doc/manl/alter_operator_class.l
doc/manl/alter_role.l
doc/manl/alter_schema.l
doc/manl/alter_sequence.l
doc/manl/alter_table.l
doc/manl/alter_tablespace.l
doc/manl/alter_trigger.l
doc/manl/alter_type.l
doc/manl/alter_user.l
doc/manl/analyze.l
doc/manl/begin.l
doc/manl/checkpoint.l
doc/manl/close.l
doc/manl/cluster.l
doc/manl/comment.l
doc/manl/commit.l
doc/manl/commit_prepared.l
doc/manl/copy.l
doc/manl/create_aggregate.l
doc/manl/create_cast.l
doc/manl/create_constraint_trigger.l
doc/manl/create_conversion.l
doc/manl/create_database.l
doc/manl/create_domain.l
doc/manl/create_function.l
doc/manl/create_group.l
doc/manl/create_index.l
doc/manl/create_language.l
doc/manl/create_operator.l
doc/manl/create_operator_class.l
doc/manl/create_role.l
doc/manl/create_rule.l
doc/manl/create_schema.l
doc/manl/create_sequence.l
doc/manl/create_table.l
doc/manl/create_table_as.l
doc/manl/create_tablespace.l
doc/manl/create_trigger.l
doc/manl/create_type.l
doc/manl/create_user.l
doc/manl/create_view.l
doc/manl/deallocate.l
doc/manl/declare.l
doc/manl/delete.l
doc/manl/drop_aggregate.l
doc/manl/drop_cast.l
doc/manl/drop_conversion.l
doc/manl/drop_database.l
doc/manl/drop_domain.l
doc/manl/drop_function.l
doc/manl/drop_group.l
doc/manl/drop_index.l
doc/manl/drop_language.l
doc/manl/drop_operator.l
doc/manl/drop_operator_class.l
doc/manl/drop_role.l
doc/manl/drop_rule.l
doc/manl/drop_schema.l
doc/manl/drop_sequence.l
doc/manl/drop_table.l
doc/manl/drop_tablespace.l
doc/manl/drop_trigger.l
doc/manl/drop_type.l
doc/manl/drop_user.l
doc/manl/drop_view.l
doc/manl/end.l
doc/manl/execute.l
doc/manl/explain.l
doc/manl/fetch.l
doc/manl/grant.l
doc/manl/insert.l
doc/manl/listen.l
doc/manl/load.l
doc/manl/lock.l
doc/manl/move.l
doc/manl/notify.l
doc/manl/prepare.l
doc/manl/prepare_transaction.l
doc/manl/reindex.l
doc/manl/release_savepoint.l
doc/manl/reset.l
doc/manl/revoke.l
doc/manl/rollback.l
doc/manl/rollback_prepared.l
doc/manl/rollback_to_savepoint.l
doc/manl/savepoint.l
doc/manl/select.l
doc/manl/select_into.l
doc/manl/set.l
doc/manl/set_constraints.l
doc/manl/set_role.l
doc/manl/set_session_authorization.l
doc/manl/set_transaction.l
doc/manl/show.l
doc/manl/start_transaction.l
doc/manl/truncate.l
doc/manl/unlisten.l
doc/manl/update.l
doc/manl/vacuum.l
doc/src/Makefile
doc/src/FAQ/FAQ.html
doc/src/FAQ/FAQ_brazilian.html
doc/src/FAQ/FAQ_chinese.html
doc/src/FAQ/FAQ_czech.html
doc/src/FAQ/FAQ_DEV.html
doc/src/FAQ/FAQ_farsi.html
doc/src/FAQ/FAQ_french.html
doc/src/FAQ/FAQ_german.html
doc/src/FAQ/FAQ_hungarian.html
doc/src/FAQ/FAQ_japanese.html
doc/src/FAQ/FAQ_MINGW.html
doc/src/FAQ/FAQ_polish.html
doc/src/FAQ/FAQ_russian.html
doc/src/FAQ/FAQ_turkish.html
doc/src/FAQ/README
doc/src/FAQ/TODO.html
doc/src/sgml/advanced.sgml
doc/src/sgml/arch-dev.sgml
doc/src/sgml/array.sgml
doc/src/sgml/backup.sgml
doc/src/sgml/biblio.sgml
doc/src/sgml/bki.sgml
doc/src/sgml/catalogs.sgml
doc/src/sgml/charset.sgml
doc/src/sgml/client-auth.sgml
doc/src/sgml/config.sgml
doc/src/sgml/contacts.sgml
doc/src/sgml/cvs.sgml
doc/src/sgml/datatype.sgml
doc/src/sgml/datetime.sgml
doc/src/sgml/ddl.sgml
doc/src/sgml/dfunc.sgml
doc/src/sgml/diskusage.sgml
doc/src/sgml/dml.sgml
doc/src/sgml/docguide.sgml
doc/src/sgml/ecpg.sgml
doc/src/sgml/errcodes.sgml
doc/src/sgml/extend.sgml
doc/src/sgml/external-projects.sgml
doc/src/sgml/features.sgml
doc/src/sgml/filelist.sgml
doc/src/sgml/fixrtf
doc/src/sgml/func.sgml
doc/src/sgml/geqo.sgml
doc/src/sgml/gist.sgml
doc/src/sgml/history.sgml
doc/src/sgml/indexam.sgml
doc/src/sgml/indices.sgml
doc/src/sgml/info.sgml
doc/src/sgml/information_schema.sgml
doc/src/sgml/install-win32.sgml
doc/src/sgml/installation.sgml
doc/src/sgml/intro.sgml
doc/src/sgml/keywords.sgml
doc/src/sgml/legal.sgml
doc/src/sgml/libpq.sgml
doc/src/sgml/lobj.sgml
doc/src/sgml/maintenance.sgml
doc/src/sgml/Makefile
doc/src/sgml/manage-ag.sgml
doc/src/sgml/mk_feature_tables.pl
doc/src/sgml/monitoring.sgml
doc/src/sgml/mvcc.sgml
doc/src/sgml/nls.sgml
doc/src/sgml/notation.sgml
doc/src/sgml/perform.sgml
doc/src/sgml/planstats.sgml
doc/src/sgml/plhandler.sgml
doc/src/sgml/plperl.sgml
doc/src/sgml/plpgsql.sgml
doc/src/sgml/plpython.sgml
doc/src/sgml/pltcl.sgml
doc/src/sgml/postgres.sgml
doc/src/sgml/problems.sgml
doc/src/sgml/protocol.sgml
doc/src/sgml/queries.sgml
doc/src/sgml/query.sgml
doc/src/sgml/reference.ced
doc/src/sgml/reference.sgml
doc/src/sgml/regress.sgml
doc/src/sgml/release.sgml
doc/src/sgml/rowtypes.sgml
doc/src/sgml/rules.sgml
doc/src/sgml/runtime.sgml
doc/src/sgml/sources.sgml
doc/src/sgml/spi.sgml
doc/src/sgml/sql.sgml
doc/src/sgml/standalone-install.sgml
doc/src/sgml/start.sgml
doc/src/sgml/storage.sgml
doc/src/sgml/stylesheet-hh.xsl
doc/src/sgml/stylesheet.css
doc/src/sgml/stylesheet.dsl
doc/src/sgml/stylesheet.xsl
doc/src/sgml/syntax.sgml
doc/src/sgml/trigger.sgml
doc/src/sgml/typeconv.sgml
doc/src/sgml/user-manag.sgml
doc/src/sgml/wal.sgml
doc/src/sgml/xaggr.sgml
doc/src/sgml/xfunc.sgml
doc/src/sgml/xindex.sgml
doc/src/sgml/xoper.sgml
doc/src/sgml/xplang.sgml
doc/src/sgml/xtypes.sgml
doc/src/sgml/ref/abort.sgml
doc/src/sgml/ref/allfiles.sgml
doc/src/sgml/ref/alter_aggregate.sgml
doc/src/sgml/ref/alter_conversion.sgml
doc/src/sgml/ref/alter_database.sgml
doc/src/sgml/ref/alter_domain.sgml
doc/src/sgml/ref/alter_function.sgml
doc/src/sgml/ref/alter_group.sgml
doc/src/sgml/ref/alter_index.sgml
doc/src/sgml/ref/alter_language.sgml
doc/src/sgml/ref/alter_opclass.sgml
doc/src/sgml/ref/alter_operator.sgml
doc/src/sgml/ref/alter_role.sgml
doc/src/sgml/ref/alter_schema.sgml
doc/src/sgml/ref/alter_sequence.sgml
doc/src/sgml/ref/alter_table.sgml
doc/src/sgml/ref/alter_tablespace.sgml
doc/src/sgml/ref/alter_trigger.sgml
doc/src/sgml/ref/alter_type.sgml
doc/src/sgml/ref/alter_user.sgml
doc/src/sgml/ref/analyze.sgml
doc/src/sgml/ref/begin.sgml
doc/src/sgml/ref/checkpoint.sgml
doc/src/sgml/ref/close.sgml
doc/src/sgml/ref/cluster.sgml
doc/src/sgml/ref/clusterdb.sgml
doc/src/sgml/ref/comment.sgml
doc/src/sgml/ref/commit.sgml
doc/src/sgml/ref/commit_prepared.sgml
doc/src/sgml/ref/copy.sgml
doc/src/sgml/ref/create_aggregate.sgml
doc/src/sgml/ref/create_cast.sgml
doc/src/sgml/ref/create_constraint.sgml
doc/src/sgml/ref/create_conversion.sgml
doc/src/sgml/ref/create_database.sgml
doc/src/sgml/ref/create_domain.sgml
doc/src/sgml/ref/create_function.sgml
doc/src/sgml/ref/create_group.sgml
doc/src/sgml/ref/create_index.sgml
doc/src/sgml/ref/create_language.sgml
doc/src/sgml/ref/create_opclass.sgml
doc/src/sgml/ref/create_operator.sgml
doc/src/sgml/ref/create_role.sgml
doc/src/sgml/ref/create_rule.sgml
doc/src/sgml/ref/create_schema.sgml
doc/src/sgml/ref/create_sequence.sgml
doc/src/sgml/ref/create_table.sgml
doc/src/sgml/ref/create_table_as.sgml
doc/src/sgml/ref/create_tablespace.sgml
doc/src/sgml/ref/create_trigger.sgml
doc/src/sgml/ref/create_type.sgml
doc/src/sgml/ref/create_user.sgml
doc/src/sgml/ref/create_view.sgml
doc/src/sgml/ref/createdb.sgml
doc/src/sgml/ref/createlang.sgml
doc/src/sgml/ref/createuser.sgml
doc/src/sgml/ref/deallocate.sgml
doc/src/sgml/ref/declare.sgml
doc/src/sgml/ref/delete.sgml
doc/src/sgml/ref/drop_aggregate.sgml
doc/src/sgml/ref/drop_cast.sgml
doc/src/sgml/ref/drop_conversion.sgml
doc/src/sgml/ref/drop_database.sgml
doc/src/sgml/ref/drop_domain.sgml
doc/src/sgml/ref/drop_function.sgml
doc/src/sgml/ref/drop_group.sgml
doc/src/sgml/ref/drop_index.sgml
doc/src/sgml/ref/drop_language.sgml
doc/src/sgml/ref/drop_opclass.sgml
doc/src/sgml/ref/drop_operator.sgml
doc/src/sgml/ref/drop_role.sgml
doc/src/sgml/ref/drop_rule.sgml
doc/src/sgml/ref/drop_schema.sgml
doc/src/sgml/ref/drop_sequence.sgml
doc/src/sgml/ref/drop_table.sgml
doc/src/sgml/ref/drop_tablespace.sgml
doc/src/sgml/ref/drop_trigger.sgml
doc/src/sgml/ref/drop_type.sgml
doc/src/sgml/ref/drop_user.sgml
doc/src/sgml/ref/drop_view.sgml
doc/src/sgml/ref/dropdb.sgml
doc/src/sgml/ref/droplang.sgml
doc/src/sgml/ref/dropuser.sgml
doc/src/sgml/ref/ecpg-ref.sgml
doc/src/sgml/ref/end.sgml
doc/src/sgml/ref/execute.sgml
doc/src/sgml/ref/explain.sgml
doc/src/sgml/ref/fetch.sgml
doc/src/sgml/ref/grant.sgml
doc/src/sgml/ref/initdb.sgml
doc/src/sgml/ref/insert.sgml
doc/src/sgml/ref/ipcclean.sgml
doc/src/sgml/ref/listen.sgml
doc/src/sgml/ref/load.sgml
doc/src/sgml/ref/lock.sgml
doc/src/sgml/ref/move.sgml
doc/src/sgml/ref/notify.sgml
doc/src/sgml/ref/pg_config-ref.sgml
doc/src/sgml/ref/pg_controldata.sgml
doc/src/sgml/ref/pg_ctl-ref.sgml
doc/src/sgml/ref/pg_dump.sgml
doc/src/sgml/ref/pg_dumpall.sgml
doc/src/sgml/ref/pg_resetxlog.sgml
doc/src/sgml/ref/pg_restore.sgml
doc/src/sgml/ref/postgres-ref.sgml
doc/src/sgml/ref/postmaster.sgml
doc/src/sgml/ref/prepare.sgml
doc/src/sgml/ref/prepare_transaction.sgml
doc/src/sgml/ref/psql-ref.sgml
doc/src/sgml/ref/reindex.sgml
doc/src/sgml/ref/reindexdb.sgml
doc/src/sgml/ref/release_savepoint.sgml
doc/src/sgml/ref/reset.sgml
doc/src/sgml/ref/revoke.sgml
doc/src/sgml/ref/rollback.sgml
doc/src/sgml/ref/rollback_prepared.sgml
doc/src/sgml/ref/rollback_to.sgml
doc/src/sgml/ref/savepoint.sgml
doc/src/sgml/ref/select.sgml
doc/src/sgml/ref/select_into.sgml
doc/src/sgml/ref/set.sgml
doc/src/sgml/ref/set_constraints.sgml
doc/src/sgml/ref/set_role.sgml
doc/src/sgml/ref/set_session_auth.sgml
doc/src/sgml/ref/set_transaction.sgml
doc/src/sgml/ref/show.sgml
doc/src/sgml/ref/start_transaction.sgml
doc/src/sgml/ref/truncate.sgml
doc/src/sgml/ref/unlisten.sgml
doc/src/sgml/ref/update.sgml
doc/src/sgml/ref/vacuum.sgml
doc/src/sgml/ref/vacuumdb.sgml
doc/TODO.detail/pg_dump
doc/TODO.detail/pg_upgrade
doc/TODO.detail/pitr
doc/TODO.detail/psql
doc/TODO.detail/README
doc/TODO.detail/thread
doc/TODO.detail/timezone
doc/TODO.detail/update
doc/TODO.detail/wal
nbproject/configurations.xml
nbproject/project.xml
nbproject/private/CodeAssistancePathMapper.properties
nbproject/private/configurations.xml
nbproject/private/Default-build.log
nbproject/private/Default-exec.log
nbproject/private/Default.properties
nbproject/private/launcher.properties
